*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}
.login{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 54px;
    
}
.plog1{
    font-size: 12px;
     color: #F0F0F0;
     height: 32px;
}
.plog{
    color: #F0F0F0;
    height: 32px;
    width: 267px;
    font-size: 10px;
    font-weight: 400;
}
.log-btn{
    width: 77px;
    height: 32px;
    margin-top: 150px;
   margin-bottom: 20px;
    left: 149px;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #0000FF;
    color: #F0F0F0;
    border: none;
}

.log-a{
    text-decoration: none;
    cursor: pointer;
    color: #8080FF;
}